.Favorites {
  color: #d9d2d2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.favBtn {
  display: block;
  width: 25px;
  height: 25px;
  background: center / contain no-repeat url("../MovieItem/img/favA.png");
}