.MovieHeader {
  background: #131313;
  margin: auto;
  max-width: 1280px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.NavBrand {
  background: center / contain no-repeat url("img/logo2.png") #131313;
  display: flex;
  height: 65px;
  width: 65px;
}

.NavBar {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.NavBar a {
  color: #d9d2d2;
  text-decoration: none;
  display: flex;
  height: 30px;
  background: #343434;
  border-radius: 15px;
  align-items: center;
  transition: color ease-in-out 0.5s;
  padding: 0 1em;
  box-sizing: border-box;
  font-size: 15px;
}

.NavBar a:hover {
  color: #757575;
}

.Search {
  display: flex;
  flex-direction:row;
  width: 100%;
  //border: 1px solid #fff;
  border-radius: 15px;
}

.Search input {
  border-radius: 15px 0 0 15px;
  flex-grow:2;
  border:none;
  background: #d9d2d2;
}

.Search input,
.Search button {
  padding: 0 20px;
  font-size: 16px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
}

.Search button {
  background: center / 15px no-repeat url("img/search.png") #d9d2d2;
  color: #757575;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  border: none;
}

.Search button:hover {
  outline-color: #d9d2d2;
}

.Search input[type="text"]:focus {
  //background: #fff;
  color: #757575;
}


@media screen and (max-width: 768px) {
  .MovieHeader {
    flex-direction: column;
  }
}